<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="eventTypeMapping" type="Integration.WebApi.SelfHosting.Configuration.EventsMappingSection, Integration.WebApi.SelfHosting" />
  </configSections>
  <eventTypeMapping>
    <events>
      <add eventType="testEvent" script="testscript1.ps1" scriptType="PowerShell" />
      <add eventType="testEvent2" script="testscript2.ps1" scriptType="PowerShell" />
    </events>
  </eventTypeMapping>
  <appSettings>
    <add key="HTTP_LISTENING_PORT" value="9000" />
    <add key="HTTP_LISTENING_HOST" value="localhost" />
    <add key="RABBITMQ_HOST" value="localhost"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>